<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>
    <!-- Links -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div class="container" id="calculadora">
      <h2>Calculadora simples</h2>
      <small id="subTitle"
        >Estudo VueJs<br /><code>*Apenas operações simples.</code></small
      >
      <div class="jumbotron" name="calculadora">
        <!-- Visor -->
        <input
          class="form-control"
          v-model="numeroTeclado"
          v-if="this.numeroTeclado.length < 13"
          disabled
        />
        <div class="grid-btn">
          <!-- Botões númericos -->
          <component-numerico v-bind:valor="1"> </component-numerico>
          <component-numerico v-bind:valor="2"> </component-numerico>
          <component-numerico v-bind:valor="3"> </component-numerico>
          <component-numerico v-bind:valor="4"> </component-numerico>
          <component-numerico v-bind:valor="5"> </component-numerico>
          <component-numerico v-bind:valor="6"> </component-numerico>
          <component-numerico v-bind:valor="7"> </component-numerico>
          <component-numerico v-bind:valor="8"> </component-numerico>
          <component-numerico v-bind:valor="9"> </component-numerico>
          <component-numerico v-bind:valor="0"> </component-numerico>
          <!-- Botões operadores -->
          <component-operador
            v-bind:operador="operadorSoma"
          ></component-operador>
          <component-operador
            v-bind:operador="operadorSub"
          ></component-operador>
          <component-operador
            v-bind:operador="operadorDiv"
          ></component-operador>
          <component-operador
            v-bind:operador="operadorMult"
          ></component-operador>
          <button class="btn btn-light" @click="reset()">C</button>
          <small id="resTitle">Saber resultado:</small>
          <button class="btn btn-success btn-block" @click="efetuar()">
            =
          </button>
        </div>
      </div>
      <center>
        <small>DailyFrontEnd | Ricardo de Paula Silva &copy; 2020</small>
      </center>
    </div>
    <script>
      // Vue componentes
      Vue.component("component-numerico", {
        props: ["valor"],
        template:
          '<button @click="addNum()" class="btn btn-primary">{{valor}}</button>',
        methods: {
          addNum: function() {
            calculadoraVue.numeroTeclado += this.valor;
          }
        }
      });
      Vue.component("component-operador", {
        props: ["operador"],
        template:
          '<button @click="addOpera()" class="btn btn-danger">{{operador}}</button>',
        methods: {
          addOpera: function() {
            calculadoraVue.numeroTeclado += this.operador;
          }
        }
      });
      // Vue raíz do projeto
      var calculadoraVue = new Vue({
        el: "#calculadora",
        data: {
          operadorSoma: "+",
          operadorSub: "-",
          operadorDiv: "/",
          operadorMult: "*",
          numeroTeclado: ""
        },
        methods: {
          efetuar: function() {
            var calcularNum = eval(this.numeroTeclado);
            this.numeroTeclado = calcularNum;
            console.log(calcularNum);
          },
          reset: function() {
            this.numeroTeclado = "";
          }
        }
      });
    </script>
  </body>
</html>
